<div class="page article js_show">
    <a href="#!/index/recommend">返回首页</a>
    <div class="page__bd">
        <article class="weui-article">
            <h1>{{title}}</h1>
            <section>
                <h2 class="title">章标题</h2>
                <section>
                    <h3>1.1 节标题</h3>
                    <p>
                        {{text}}
                    </p>
                    <p>
                        <img ng-click='showGallery()' ng-src="{{image?image:''}}" alt="">
                    </p>
                </section>
            </section>
        </article>
    </div>
    <bigimg></bigimg>
</div>