<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../css/weui.css" />
    <link rel="stylesheet" href="../css/swiper.css" />
    <link rel="stylesheet" href="../css/base.css" />
    
</head>
<body ng-app='myapp'>
    <div ui-view></div>
</body>

    <script src='../js/myapp/angular.js'></script>
    <script src='../js/myapp/angular-ui-router.js'></script>
    <script src='../js/myapp/myapp.js'></script>
    <script src='../js/router/router.js'></script>
    <script src='../js/controllers/controller.js'></script>
    <script src='../js/filters/filter.js'></script>
    <script src='../js/services/service.js'></script>
    <script src='../js/directives/directive.js'></script>
    <script src='../swiper.js'></script>
    <script src='../ngPost.js'></script>

</html>